.page {
  position: relative;
  width: 100vw;
  height: 35.72vw;
  overflow: hidden;
}

.wrap1 {
  z-index: 3;
  height: 35.72vw;
  background: url(./img/pscb4ctac24kdhpb35avsk8ddpqd3exiaof41ce94a-6fc4-4b65-a841-63e5f84020b7.png) -20.6vw -26.4vw
    no-repeat;
  background-size: 142.44vw 74.52vw;
  width: 100vw;
  position: relative;
}

.outer1 {
  width: 89.17vw;
  height: 35.72vw;
  margin-left: 5.57vw;
}

.layer1 {
  width: 58.43vw;
  height: 3.93vw;
  background: url(./img/psxeo64xp079c54p3354osv52l8pd7ge9d619523f9f-3fcc-4950-b143-2d1eb99fdd2c.png)
    0vw -0.3vw no-repeat;
  background-size: 58.45vw 4.22vw;
}

.layer2 {
  width: 89.17vw;
  height: 12.18vw;
  margin-top: -1.07vw;
}

.main1 {
  z-index: 10;
  height: 12.18vw;
  background: url(./img/psdsrogqxll8pno6xy7q2dajm65gr3m34o5bfb40c9-9015-4351-bb6f-0b5efcf25261.png)
    100% no-repeat;
  width: 26.61vw;
  position: relative;
}

.main2 {
  width: 3.4vw;
  height: 0.84vw;
  margin: 1.78vw 0 0 11.45vw;
}

.word1 {
  width: 3.4vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(3, 178, 239, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.84vw;
  display: block;
}

.main3 {
  width: 19.41vw;
  height: 4.47vw;
  margin: 1.04vw 0 0 3.42vw;
}

.outer2 {
  width: 0.9vw;
  height: 0.99vw;
  background: url(./img/psntfs13hite3a8ikx51n8wy49dosx75oc92ffc29e-30d6-49bf-9d78-510e2b81c21f.png)
    100% no-repeat;
  margin-top: 2.39vw;
}

.pic1 {
  width: 5.6vw;
  height: 4.47vw;
  margin-left: 1.55vw;
}

.pic2 {
  width: 5.6vw;
  height: 4.47vw;
  margin-left: 3.19vw;
}

.outer3 {
  width: 0.9vw;
  height: 0.99vw;
  background: url(./img/psjbgwrbyixygmxdkiuktljsu6muewbtycm68e0badf-4ff0-4cbd-b693-9476ec13dc66.png)
    100% no-repeat;
  margin: 2.38vw 0 0 1.69vw;
}

.main4 {
  width: 12.42vw;
  height: 0.99vw;
  margin: 0.62vw 0 2.44vw 6.78vw;
}

.bd1 {
  height: 0.99vw;
  background: url(./img/pslx5j1q6skq9sevzxirjemezbixv7l6jondd8d4762-409d-40f8-b033-07120433a739.png) -0.18vw -0.18vw
    no-repeat;
  background-size: 4.1vw 1.3vw;
  width: 3.78vw;
}

.word2 {
  width: 1.11vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.71vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72vw;
  display: block;
  margin: 0.23vw 0 0 1.27vw;
}

.bd2 {
  height: 0.99vw;
  background: url(./img/psfg1c00p39p7mvkynumltsw4n9n0molzla7263f5f-2e96-4c5e-838d-02ddee67ed36.png) -0.15vw -0.18vw
    no-repeat;
  background-size: 4.07vw 1.3vw;
  width: 3.78vw;
}

.word3 {
  width: 1.55vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.71vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72vw;
  display: block;
  margin: 0.23vw 0 0 1.1vw;
}

.main5 {
  z-index: 22;
  height: 12.15vw;
  background: url(./img/pswgerawjeqgohyeu5rwng5ixty48fn0qc7c699e59-ff2e-4204-8dc1-7ba3ac5e8570.png)
    100% no-repeat;
  width: 26.61vw;
  position: absolute;
  left: 0;
  top: 10.51vw;
}

.bd3 {
  width: 3.34vw;
  height: 0.84vw;
  margin: 1.81vw 0 0 11.48vw;
}

.info1 {
  width: 3.34vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(3, 178, 239, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.84vw;
  display: block;
}

.bd4 {
  width: 17.83vw;
  height: 6.37vw;
  margin: 1.19vw 0 1.93vw 4.22vw;
}

.pic3 {
  width: 10.81vw;
  height: 6.37vw;
}

.main6 {
  width: 5.63vw;
  height: 2.5vw;
  margin-top: 1.67vw;
}

.info2 {
  width: 5.24vw;
  height: 0.72vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.71vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72vw;
  display: block;
}

.info3 {
  width: 5.63vw;
  height: 0.72vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.71vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72vw;
  margin-top: 1.08vw;
  display: block;
}

.bd5 {
  z-index: 28;
  height: 11.85vw;
  background: url(./img/pssqxr23i51xcdi2ugw7sgoiihvnch2fmyd83e633a0-4bbe-4b48-9fbd-b09d18ceedf5.png)
    0vw 0vw no-repeat;
  background-size: 26.63vw 12.44vw;
  width: 26.64vw;
  position: absolute;
  left: -0.02vw;
  top: 10.51vw;
}

.layer3 {
  width: 3.4vw;
  height: 0.84vw;
  margin: 1.72vw 0 0 11.48vw;
}

.txt1 {
  width: 3.4vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(3, 178, 239, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.84vw;
  display: block;
}

.layer4 {
  width: 17.86vw;
  height: 7.18vw;
  margin: 0.98vw 0 1.13vw 4.43vw;
}

.group1 {
  width: 4.2vw;
  height: 6.34vw;
  margin-top: 0.09vw;
}

.mod1 {
  height: 3.78vw;
  background: url(./img/psnjumml225r9plfvcvqy6irxcma3qtkl5nf590e715-fa6c-471b-a322-e88b83afdc0b.png)
    0vw 0vw no-repeat;
  background-size: 3.8vw 3.8vw;
  width: 3.81vw;
}

.layer5 {
  z-index: 33;
  height: 3.64vw;
  background: url(./img/ps5y0dfqiomoovmx0427s4jmto2mexagjkq8493cf7e-838a-419a-b7ac-1c35f3f88e10.png) -0.3vw -0.51vw
    no-repeat;
  background-size: 4.46vw 4.13vw;
  width: 3.81vw;
  position: relative;
}

.paragraph1 {
  z-index: 42;
  position: static;
  left: 11.23vw;
  top: 28.99vw;
  width: 1.31vw;
  height: 0.96vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 0.54vw;
  white-space: nowrap;
  display: block;
  margin: 1.48vw 0 0 1.25vw;
}

.pic4 {
  z-index: 34;
  position: absolute;
  left: 1.82vw;
  top: 2.45vw;
  width: 1.73vw;
  height: 1.34vw;
}

.mod2 {
  width: 4.17vw;
  height: 0.45vw;
  margin: 0.41vw 0 0 0.02vw;
}

.outer4 {
  background-color: rgba(0, 255, 255, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.06vw;
}

.txt2 {
  width: 3.58vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
}

.mod3 {
  width: 3.46vw;
  height: 0.45vw;
  margin: 0.38vw 0 0 0.02vw;
}

.section1 {
  background-color: rgba(254, 150, 3, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.03vw;
}

.info4 {
  width: 2.89vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
}

.mod4 {
  width: 2.39vw;
  height: 0.42vw;
  margin: 0.44vw 0 0 0.02vw;
}

.section2 {
  background-color: rgba(87, 168, 221, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.06vw;
}

.word4 {
  width: 1.79vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
}

.pic5 {
  width: 0.03vw;
  height: 7.18vw;
  margin-left: 2.62vw;
}

.group2 {
  width: 0.3vw;
  height: 2.03vw;
  margin: 4.31vw 0 0 2.38vw;
}

.box1 {
  background-color: rgba(0, 255, 255, 1);
  width: 0.3vw;
  height: 0.3vw;
}

.box2 {
  background-color: rgba(254, 150, 3, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.51vw;
}

.box3 {
  background-color: rgba(87, 168, 221, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.63vw;
}

.group3 {
  width: 8.07vw;
  height: 6.37vw;
  margin: 0.08vw 0 0 0.26vw;
}

.block1 {
  height: 3.78vw;
  background: url(./img/pskhqg43pir3jcfgj3278z562po7mokrsmed9c2092d-b30e-4d6e-857d-55dd04d15547.png)
    0vw 0vw no-repeat;
  background-size: 3.8vw 3.8vw;
  margin-left: 1.76vw;
  width: 3.81vw;
}

.group4 {
  z-index: 47;
  height: 3.64vw;
  background: url(./img/psvzngn6k0kdydgu9gm2iid2c8ujipbgau994d3274-d78c-4b51-8e5f-7a25e3ee7cd3.png) -0.3vw -0.51vw
    no-repeat;
  background-size: 4.46vw 4.13vw;
  width: 3.81vw;
  position: relative;
}

.section3 {
  width: 2.56vw;
  height: 2.03vw;
  margin: 1.66vw 0 0 0.11vw;
}

.info5 {
  width: 1.7vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-left: 0.87vw;
  display: block;
}

.icon1 {
  width: 1.46vw;
  height: 1.46vw;
  margin-top: 0.12vw;
}

.section4 {
  z-index: 51;
  position: absolute;
  left: 0.36vw;
  top: 0;
  width: 2.39vw;
  height: 1.34vw;
  background: url(./img/ps4ugs5109mbkma7ac7ypbuqntjdclkr7gd62a07e5-e7e5-46e6-83b7-6a2ae2bd1ec9.png)
    0vw -0.39vw no-repeat;
  background-size: 2.38vw 1.72vw;
}

.section5 {
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0.78vw;
  width: 1.14vw;
  height: 1.94vw;
  background: url(./img/ps60yri62svqjqatt3o6dw3qsowo1g7sx976620c3-7300-43ca-95ee-602fc06e97e6.png) -0.39vw
    0vw no-repeat;
  background-size: 1.51vw 1.93vw;
}

.pic6 {
  z-index: 48;
  position: absolute;
  left: 1.82vw;
  top: 2.45vw;
  width: 1.73vw;
  height: 1.34vw;
}

.block2 {
  width: 8.07vw;
  height: 1.34vw;
  margin-top: 0.39vw;
}

.TextGroup1 {
  height: 1.28vw;
  width: 3.43vw;
}

.main7 {
  width: 3.43vw;
  height: 1.28vw;
}

.word5 {
  width: 3.4vw;
  height: 0.48vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-left: 0.03vw;
  display: block;
}

.txt3 {
  width: 3.43vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-top: 0.36vw;
  display: block;
}

.section6 {
  width: 0.3vw;
  height: 1.11vw;
  margin: 0.08vw 0 0 0.62vw;
}

.layer6 {
  background-color: rgba(243, 224, 120, 1);
  width: 0.3vw;
  height: 0.3vw;
}

.layer7 {
  background-color: rgba(231, 81, 20, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.51vw;
}

.section7 {
  width: 3.43vw;
  height: 1.31vw;
  margin: 0.02vw 0 0 0.29vw;
}

.txt4 {
  width: 3.43vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
}

.txt5 {
  width: 2.98vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-top: 0.42vw;
  display: block;
}

.block3 {
  width: 7.18vw;
  height: 0.48vw;
  margin: 0.38vw 0 0 0.02vw;
}

.word6 {
  width: 2.98vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-top: 0.03vw;
  display: block;
}

.bd6 {
  background-color: rgba(245, 202, 9, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin: 0.05vw 0 0 1.04vw;
}

.txt6 {
  width: 2.56vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-left: 0.3vw;
  display: block;
}

.main8 {
  z-index: 67;
  height: 12.18vw;
  background: url(./img/psj5goi47t8w8do589jlunrkhycm2mk2247d88d4-ed69-42a8-9697-5aa6d02137da.png)
    100% no-repeat;
  width: 26.61vw;
  position: relative;
}

.bd7 {
  width: 19.71vw;
  height: 8.22vw;
  margin: 1.78vw 0 0 2.61vw;
}

.box4 {
  height: 7.89vw;
  background: url(./img/psvgb02y64wdl72a1p29d75zi13ygyu6nd963bf2b-1a97-4ebf-8546-aa4fd011daa6.png)
    0vw 0vw no-repeat;
  background-size: 7.17vw 8.15vw;
  margin-top: 0.33vw;
  width: 7.18vw;
}

.mod5 {
  background-color: rgba(87, 168, 221, 1);
  border-radius: 10px;
  height: 0.78vw;
  width: 2.15vw;
  margin: 1.63vw 0 0 2.52vw;
}

.word7 {
  width: 1.11vw;
  height: 0.48vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.47vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48vw;
  display: block;
  margin: 0.14vw 0 0 0.53vw;
}

.box5 {
  width: 11.88vw;
  height: 8.04vw;
}

.word8 {
  width: 3.37vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(3, 178, 239, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.84vw;
  margin-left: 1.02vw;
  display: block;
}

.box6 {
  width: 7.68vw;
  height: 6.14vw;
  background: url(./img/psjdect3v1acdy2k9go18suj1ph5arm52i6b8776e2-de55-40b6-8222-fbc091eab2a4.png)
    100% no-repeat;
  margin-top: 1.08vw;
}

.word9 {
  width: 5.96vw;
  height: 0.72vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.71vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72vw;
  display: block;
  margin: -4.43vw 0 0 5.92vw;
}

.word10 {
  width: 5.96vw;
  height: 0.72vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.71vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72vw;
  display: block;
  margin: 1.07vw 0 1.93vw 5.92vw;
}

.bd8 {
  z-index: 78;
  height: 12.18vw;
  background: url(./img/psi1vbo2gu69rc352nptjy4spgwxp8jswxdd6dae7f4-6298-4edb-bbe4-cfb1d25da132.png)
    100% no-repeat;
  width: 26.61vw;
  position: absolute;
  left: 0;
  top: 10.51vw;
}

.group5 {
  width: 3.34vw;
  height: 0.84vw;
  margin: 1.81vw 0 0 11.45vw;
}

.word11 {
  width: 3.34vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(3, 178, 239, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.84vw;
  display: block;
}

.group6 {
  width: 18.58vw;
  height: 0.99vw;
  margin: 0.77vw 0 0 3.83vw;
}

.main9 {
  height: 0.99vw;
  background: url(./img/ps38dzcfg2yphf4paeo2xkbnkyupzj9lwo81c44153-ea17-4ffe-a614-9880e6c26017.png) -0.18vw -0.18vw
    no-repeat;
  background-size: 4.1vw 1.3vw;
  width: 3.78vw;
}

.txt7 {
  width: 2.12vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.47vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48vw;
  display: block;
  margin: 0.29vw 0 0 0.83vw;
}

.main10 {
  height: 0.99vw;
  background: url(./img/pssd1dbcx02wi8vljcayxphh0j39zxexaqrm67442d45-53f4-449a-9e7b-1305a16d6d65.png) -0.18vw -0.18vw
    no-repeat;
  background-size: 4.1vw 1.3vw;
  margin-left: 3.73vw;
  width: 3.78vw;
}

.word12 {
  width: 3.01vw;
  height: 0.48vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.47vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48vw;
  display: block;
  margin: 0.26vw 0 0 0.38vw;
}

.main11 {
  height: 0.99vw;
  background: url(./img/ps1jhn85v75pnr53yw7fvwvkh6j09gd4zv7cdda5633-bb75-4663-8c7a-193617d8d9a1.png) -0.18vw -0.18vw
    no-repeat;
  background-size: 4.1vw 1.3vw;
  margin-left: 3.52vw;
  width: 3.78vw;
}

.word13 {
  width: 3.58vw;
  height: 0.48vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.47vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48vw;
  display: block;
  margin: 0.29vw 0 0 0.08vw;
}

.group7 {
  width: 18.61vw;
  height: 3.78vw;
  margin: 0.02vw 0 0 3.83vw;
}

.section8 {
  z-index: 82;
  height: 3.78vw;
  overflow: hidden;
  background: url(./img/psv7qz44m7l5rs2xvfhzqvmnc6dylaac9h87bcaeff-6b43-4d4a-9317-e0c2d50e355b.png)
    0vw 0vw no-repeat;
  background-size: 3.8vw 3.8vw;
  width: 3.81vw;
  position: relative;
}

.box7 {
  width: 1.94vw;
  height: 1.97vw;
  background: url(./img/pshg5jkbqbzr7qg8cbgtqz0n0wbeujyxz9b57e387-eff1-4aaa-84df-6cbac5c465c5.png)
    0vw -0.36vw no-repeat;
  background-size: 2.26vw 2.32vw;
  margin-left: 1.88vw;
}

.box8 {
  z-index: 84;
  height: 3.07vw;
  background: url(./img/psnvwwrjiybu81giinnii8i2jmqcfr4wt6d05a389-13f5-47e8-b52b-209a041993d8.png)
    100% no-repeat;
  width: 3.1vw;
  position: absolute;
  left: 0.36vw;
  top: 0.36vw;
}

.mod6 {
  z-index: 85;
  position: relative;
  width: 2.33vw;
  height: 3.07vw;
  background: url(./img/psleikoxlazdrxs9vam6oehr00jjb6mbzkv0e27b68066-f210-4aca-9018-571fe56a8fac.png)
    0vw -0.51vw no-repeat;
  background-size: 3.83vw 3.95vw;
  margin-left: 0.78vw;
}

.section9 {
  z-index: 87;
  height: 2.36vw;
  background: url(./img/psc2thdq0tjz9n96y11yhybnms0h2wtc1b2f1dc76-adb5-4a8a-86b5-336e9cf00b67.png) -0.36vw -0.3vw
    no-repeat;
  background-size: 4.31vw 3vw;
  width: 2.39vw;
  position: absolute;
  left: -0.41vw;
  top: 0.36vw;
}

.paragraph2 {
  width: 1.02vw;
  height: 0.96vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 0.54vw;
  white-space: nowrap;
  display: block;
  margin: 0.77vw 0 0 0.68vw;
}

.section10 {
  width: 0.6vw;
  height: 3.28vw;
  margin: 0.5vw 0 0 3.45vw;
}

.word14 {
  width: 0.57vw;
  height: 0.33vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.35vw;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 0.36vw;
  display: block;
}

.txt8 {
  width: 0.57vw;
  height: 0.33vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.35vw;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 0.36vw;
  margin-top: 0.15vw;
  display: block;
}

.info6 {
  width: 0.57vw;
  height: 0.33vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.35vw;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 0.36vw;
  margin-top: 0.15vw;
  display: block;
}

.word15 {
  width: 0.54vw;
  height: 0.33vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.35vw;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 0.36vw;
  display: block;
  margin: 0.17vw 0 0 0.05vw;
}

.info7 {
  width: 0.54vw;
  height: 0.33vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.35vw;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 0.36vw;
  display: block;
  margin: 0.17vw 0 0 0.05vw;
}

.word16 {
  width: 0.39vw;
  height: 0.33vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.35vw;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 0.36vw;
  display: block;
  margin: 0.14vw 0 0 0.2vw;
}

.info8 {
  width: 0.21vw;
  height: 0.33vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.35vw;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 0.36vw;
  display: block;
  margin: 0.17vw 0 0 0.38vw;
}

.section11 {
  width: 3.4vw;
  height: 3.49vw;
  margin: 0.2vw 0 0 0.08vw;
}

.wrap2 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 113;
  position: relative;
  width: 3.22vw;
  height: 0.03vw;
  margin-top: 3.46vw;
}

.block4 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 114;
  position: absolute;
  left: -0.05vw;
  top: 0;
  width: 0.09vw;
  height: 0.03vw;
}

.wrap3 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 109;
  position: relative;
  width: 0.03vw;
  height: 3.34vw;
  margin: 0.11vw 0 0 -3.21vw;
}

.outer5 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 120;
  position: absolute;
  left: -0.05vw;
  top: 0.27vw;
  width: 0.09vw;
  height: 0.03vw;
}

.outer6 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 119;
  position: absolute;
  left: -0.05vw;
  top: 0.78vw;
  width: 0.09vw;
  height: 0.03vw;
}

.outer7 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 118;
  position: absolute;
  left: -0.05vw;
  top: 1.28vw;
  width: 0.09vw;
  height: 0.03vw;
}

.outer8 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 117;
  position: absolute;
  left: -0.05vw;
  top: 1.82vw;
  width: 0.09vw;
  height: 0.03vw;
}

.outer9 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 116;
  position: absolute;
  left: -0.05vw;
  top: 2.33vw;
  width: 0.09vw;
  height: 0.03vw;
}

.outer10 {
  background-color: rgba(0, 255, 255, 1);
  z-index: 115;
  position: absolute;
  left: -0.05vw;
  top: 2.83vw;
  width: 0.09vw;
  height: 0.03vw;
}

.wrap4 {
  background-color: rgba(0, 255, 255, 1);
  width: 0.6vw;
  height: 2.86vw;
  margin: 0.59vw 0 0 0.35vw;
}

.wrap5 {
  background-color: rgba(220, 243, 93, 1);
  width: 0.6vw;
  height: 0.81vw;
  margin: 2.64vw 0 0 0.32vw;
}

.info9 {
  width: 2.06vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-left: -0.56vw;
  display: block;
}

.wrap6 {
  background-color: rgba(243, 120, 120, 1);
  width: 0.6vw;
  height: 0.39vw;
  margin: 3.09vw 0.56vw 0 -1.16vw;
}

.section12 {
  z-index: 130;
  height: 3.78vw;
  overflow: hidden;
  background: url(./img/psfiw2mljbj5yw2syd56lvs7u9fnwe950b72c10f-23ea-45d0-a4cf-00a21df486e9.png)
    0vw 0vw no-repeat;
  background-size: 3.8vw 3.8vw;
  margin-left: 3.46vw;
  width: 3.81vw;
  position: relative;
}

.mod7 {
  width: 1.94vw;
  height: 1.97vw;
  background: url(./img/ps5bjomwtqtnc3em5ncgi988dkyvmi3bdqi4dff0340-bb19-4d9e-9b0f-af1d27aa1a10.png)
    0vw -0.36vw no-repeat;
  background-size: 2.26vw 2.32vw;
  margin-left: 1.88vw;
}

.mod8 {
  z-index: 132;
  height: 3.07vw;
  background: url(./img/psa9eys7ywb7og05nw58670gvdbbeppzxr02a575d8-b3d9-4fda-a47b-9c9c630fc913.png)
    100% no-repeat;
  width: 3.1vw;
  position: absolute;
  left: 0.36vw;
  top: 0.36vw;
}

.layer8 {
  z-index: 133;
  position: relative;
  width: 2.33vw;
  height: 3.07vw;
  background: url(./img/ps74ww34j3y6doeujzqmxvue0cuwo827dsbp36a2651f-247c-4bd7-b2d4-f9e66b018f6c.png)
    0vw -0.51vw no-repeat;
  background-size: 3.83vw 3.95vw;
  margin-left: 0.78vw;
}

.group8 {
  z-index: 135;
  height: 2.36vw;
  background: url(./img/psskwrlt00d4til6h54qxyf5rj0820znbg5f55ac8b-cf81-4fc2-883b-622e02635c27.png) -0.36vw -0.3vw
    no-repeat;
  background-size: 4.31vw 3vw;
  width: 2.39vw;
  position: absolute;
  left: -0.41vw;
  top: 0.36vw;
}

.infoBox1 {
  width: 1.02vw;
  height: 0.96vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 0.54vw;
  white-space: nowrap;
  display: block;
  margin: 0.77vw 0 0 0.68vw;
}

.group9 {
  width: 18.58vw;
  height: 1.79vw;
  margin: 0.2vw 0 1.96vw 3.86vw;
}

.section13 {
  width: 0.3vw;
  height: 1.67vw;
  margin-top: 0.06vw;
}

.wrap7 {
  background-color: rgba(0, 255, 255, 1);
  width: 0.3vw;
  height: 0.3vw;
}

.wrap8 {
  background-color: rgba(220, 243, 93, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.36vw;
}

.wrap9 {
  background-color: rgba(243, 120, 120, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.42vw;
}

.TextGroup2 {
  height: 1.79vw;
  margin-left: 0.3vw;
  width: 3.19vw;
}

.mod9 {
  width: 3.19vw;
  height: 1.79vw;
}

.word17 {
  width: 3.16vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-left: 0.03vw;
  display: block;
}

.info10 {
  width: 2.89vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-top: 0.24vw;
  display: block;
}

.info11 {
  width: 2.62vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
  margin: 0.23vw 0 0 0.02vw;
}

.section14 {
  width: 0.3vw;
  height: 1.67vw;
  margin: 0.05vw 0 0 3.72vw;
}

.group10 {
  background-color: rgba(0, 255, 255, 1);
  width: 0.3vw;
  height: 0.3vw;
}

.group11 {
  background-color: rgba(220, 243, 93, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.36vw;
}

.group12 {
  background-color: rgba(243, 120, 120, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.42vw;
}

.TextGroup3 {
  height: 1.79vw;
  margin-left: 0.3vw;
  width: 2.92vw;
}

.main12 {
  width: 2.92vw;
  height: 1.79vw;
}

.word18 {
  width: 2.89vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-left: 0.03vw;
  display: block;
}

.word19 {
  width: 2.65vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-top: 0.24vw;
  display: block;
}

.word20 {
  width: 2.62vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
  margin: 0.23vw 0 0 0.02vw;
}

.section15 {
  width: 0.3vw;
  height: 1.67vw;
  margin: 0.05vw 0 0 3.77vw;
}

.layer9 {
  background-color: rgba(0, 255, 255, 1);
  width: 0.3vw;
  height: 0.3vw;
}

.layer10 {
  background-color: rgba(220, 243, 93, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.36vw;
}

.layer11 {
  background-color: rgba(243, 120, 120, 1);
  width: 0.3vw;
  height: 0.3vw;
  margin-top: 0.42vw;
}

.TextGroup4 {
  height: 1.79vw;
  margin-left: 0.3vw;
  width: 3.19vw;
}

.main13 {
  width: 3.19vw;
  height: 1.79vw;
}

.txt9 {
  width: 3.16vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-left: 0.03vw;
  display: block;
}

.info12 {
  width: 2.89vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  margin-top: 0.24vw;
  display: block;
}

.info13 {
  width: 2.62vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
  margin: 0.23vw 0 0 0.02vw;
}

.group13 {
  z-index: 147;
  height: 11.85vw;
  background: url(./img/psr72xjpdmifd4yyfecy21ow83mdzyj72f4b2b01-f263-49a1-9ada-781b2d1c008b.png)
    0vw 0vw no-repeat;
  background-size: 26.6vw 12.41vw;
  width: 26.61vw;
  position: absolute;
  left: 0;
  top: 10.51vw;
}

.layer12 {
  width: 3.4vw;
  height: 0.84vw;
  margin: 1.72vw 0 0 11.42vw;
}

.word21 {
  width: 3.4vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(3, 178, 239, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.84vw;
  display: block;
}

.layer13 {
  width: 18.13vw;
  height: 0.99vw;
  margin: 1.36vw 0 0 4.04vw;
}

.mod10 {
  height: 0.99vw;
  background: url(./img/psrs3cy6aojlq7k3zhtxswhiggkchkb9tna6d99e1a-78da-44bf-b73d-c967df31b7a6.png) -0.18vw -0.18vw
    no-repeat;
  background-size: 4.1vw 1.3vw;
  width: 3.78vw;
}

.info14 {
  width: 2.39vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.47vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48vw;
  display: block;
  margin: 0.29vw 0 0 0.68vw;
}

.mod11 {
  height: 0.99vw;
  background: url(./img/psvz3cdcu12mvdrlhkj9n7du8avsbntkdc6d1866e-9a5e-40ef-83dd-2b149b717ab1.png) -0.18vw -0.18vw
    no-repeat;
  background-size: 4.1vw 1.3vw;
  width: 3.78vw;
}

.info15 {
  width: 2.39vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.47vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48vw;
  display: block;
  margin: 0.29vw 0 0 0.68vw;
}

.mod12 {
  height: 0.99vw;
  background: url(./img/psosh6anq8kpp8454a1elykg5h9u6uprd6bed2b2d-632a-476e-a023-3272fc4fa99d.png) -0.18vw -0.18vw
    no-repeat;
  background-size: 4.1vw 1.3vw;
  width: 3.78vw;
}

.info16 {
  width: 1.91vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.47vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48vw;
  display: block;
  margin: 0.29vw 0 0 0.92vw;
}

.layer14 {
  width: 16.88vw;
  height: 3.43vw;
  margin: 0.92vw 0 0 4.7vw;
}

.word22 {
  width: 2.33vw;
  overflow-wrap: break-word;
  color: rgba(0, 255, 255, 1);
  font-size: 4.37vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 4.38vw;
  display: block;
}

.txt10 {
  width: 2.33vw;
  overflow-wrap: break-word;
  color: rgba(254, 150, 3, 1);
  font-size: 4.37vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 4.38vw;
  margin-left: 4.86vw;
  display: block;
}

.word23 {
  width: 2.33vw;
  overflow-wrap: break-word;
  color: rgba(231, 81, 20, 1);
  font-size: 4.37vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 4.38vw;
  margin-left: 5.06vw;
  display: block;
}

.layer15 {
  width: 16.88vw;
  height: 0.51vw;
  margin: 0.11vw 0 1.96vw 4.61vw;
}

.outer11 {
  height: 0.51vw;
  background: url(./img/ps5nn6e4lywms4grqwhelxgg9p2hdu3i05426c83c7d-81b7-48f8-9ffd-fa52c0f1b876.png) -0.36vw -0.36vw
    no-repeat;
  background-size: 3.09vw 1.25vw;
  width: 2.36vw;
}

.outer12 {
  width: 1.52vw;
  height: 0.33vw;
  background: url(./img/ps21dwdiiv0smkj2656e43xoe1i4btzo999002f569b-9488-4354-b10e-7ddf02807326.png) -0.36vw -0.36vw
    no-repeat;
  background-size: 2.26vw 1.07vw;
  margin: 0.08vw 0 0 0.41vw;
}

.outer13 {
  height: 0.51vw;
  background: url(./img/ps12axz9gqdtzi4escv6vy2lgbotn6nznk7246602b-c268-481e-90c2-fc71e18718bc.png) -0.36vw -0.36vw
    no-repeat;
  background-size: 3.09vw 1.25vw;
  margin-left: 4.83vw;
  width: 2.36vw;
}

.outer14 {
  width: 1.52vw;
  height: 0.33vw;
  background: url(./img/ps4gtt9v6z6i3ndgq75a6t4e1gwd0p66onr06ef0a18-89d0-459a-9d0e-a8b4c33a1589.png) -0.36vw -0.36vw
    no-repeat;
  background-size: 2.26vw 1.07vw;
  margin: 0.08vw 0 0 0.41vw;
}

.outer15 {
  height: 0.51vw;
  background: url(./img/ps01bvslujsy6xqnm4v391ljpd9spoqx4djo960b19d9-3a28-4c63-b96a-c8710b93b8e0.png) -0.36vw -0.36vw
    no-repeat;
  background-size: 3.09vw 1.25vw;
  margin-left: 5vw;
  width: 2.36vw;
}

.mod13 {
  width: 1.52vw;
  height: 0.33vw;
  background: url(./img/psjb4uijfb8q531ogg732degvxp3ynnwjnbcb56718-08b6-4a4d-ab54-19d70d08f012.png) -0.36vw -0.36vw
    no-repeat;
  background-size: 2.26vw 1.07vw;
  margin: 0.08vw 0 0 0.41vw;
}

.layer16 {
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 6px;
  z-index: 169;
  height: 9.62vw;
  border: 1px solid rgba(3, 178, 239, 1);
  width: 35.3vw;
  position: relative;
  margin: 10.14vw 0 0 26.75vw;
}

.group14 {
  width: 35.24vw;
  height: 9.62vw;
  margin-left: 0.06vw;
}

.img1 {
  width: 1.7vw;
  height: 9.62vw;
}

.layer17 {
  width: 32.83vw;
  height: 7.68vw;
  margin: 1.19vw 0 0 -0.47vw;
}

.layer18 {
  width: 32.83vw;
  height: 0.63vw;
  background: url(./img/ps9witq5lvoisku7bqu94lbo1u25wwjcax3e9456a70-afff-48a6-bc96-b49b3c292ae3.png) -0.03vw -0.03vw
    no-repeat;
  background-size: 32.85vw 0.65vw;
}

.layer19 {
  background-color: rgba(231, 81, 20, 1);
  border-radius: 10px;
  height: 1.25vw;
  width: 4.35vw;
  margin: 0.62vw 0 0 9.67vw;
}

.word24 {
  width: 1.05vw;
  height: 0.54vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.53vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.54vw;
  display: block;
  margin: 0.35vw 0 0 1.66vw;
}

.layer20 {
  width: 21.94vw;
  height: 1.34vw;
  margin: 0.44vw 0 0 5.44vw;
}

.box9 {
  background-color: rgba(3, 173, 240, 1);
  border-radius: 10px;
  height: 1.34vw;
  width: 4.35vw;
}

.word25 {
  width: 1.61vw;
  height: 0.54vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.53vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.54vw;
  display: block;
  margin: 0.47vw 0 0 1.36vw;
}

.icon2 {
  width: 0.81vw;
  height: 0.6vw;
  margin: 0.41vw 0 0 0.23vw;
}

.box10 {
  background-color: rgba(3, 173, 240, 1);
  border-radius: 10px;
  height: 1.25vw;
  border: 1px solid rgba(3, 173, 240, 1);
  width: 3.61vw;
  margin: 0.08vw 0 0 0.29vw;
}

.word26 {
  width: 2.24vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.41vw 0 0 0.65vw;
}

.box11 {
  background-color: rgba(3, 173, 240, 1);
  border-radius: 10px;
  height: 1.25vw;
  width: 3.61vw;
  margin: 0.08vw 0 0 0.62vw;
}

.txt11 {
  width: 2.27vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.41vw 0 0 0.71vw;
}

.box12 {
  background-color: rgba(3, 173, 240, 1);
  border-radius: 10px;
  height: 1.25vw;
  width: 3.61vw;
  margin: 0.08vw 0 0 0.59vw;
}

.info17 {
  width: 2.68vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
  margin: 0.41vw 0 0 0.38vw;
}

.box13 {
  background-color: rgba(3, 173, 240, 1);
  border-radius: 10px;
  height: 1.25vw;
  width: 3.61vw;
  margin: 0.08vw 0 0 0.62vw;
}

.txt12 {
  width: 2.27vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.38vw 0 0 0.71vw;
}

.layer21 {
  width: 23.04vw;
  height: 1.25vw;
  margin: 0.59vw 0 0 4.88vw;
}

.mod14 {
  background-color: rgba(254, 150, 3, 1);
  border-radius: 10px;
  height: 1.25vw;
  width: 4.35vw;
}

.word27 {
  width: 3.22vw;
  height: 0.54vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.53vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.54vw;
  display: block;
  margin: 0.38vw 0 0 0.56vw;
}

.icon3 {
  width: 0.81vw;
  height: 0.6vw;
  margin: 0.35vw 0 0 0.23vw;
}

.mod15 {
  background-color: rgba(254, 150, 3, 1);
  border-radius: 10px;
  height: 1.25vw;
  margin-left: 0.33vw;
  width: 3.61vw;
}

.txt13 {
  width: 3.1vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.41vw 0 0 0.23vw;
}

.mod16 {
  background-color: rgba(254, 150, 3, 1);
  border-radius: 10px;
  height: 1.25vw;
  margin-left: 0.63vw;
  width: 3.61vw;
}

.word28 {
  width: 3.07vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.41vw 0 0 0.26vw;
}

.mod17 {
  background-color: rgba(254, 150, 3, 1);
  border-radius: 10px;
  height: 1.25vw;
  margin-left: 0.57vw;
  width: 3.61vw;
}

.info18 {
  width: 3.07vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
  margin: 0.41vw 0 0 0.26vw;
}

.mod18 {
  background-color: rgba(254, 150, 3, 1);
  border-radius: 10px;
  height: 1.25vw;
  margin-left: 0.6vw;
  width: 4.74vw;
}

.word29 {
  width: 4.08vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.41vw 0 0 0.23vw;
}

.layer22 {
  width: 10.09vw;
  height: 1.25vw;
  margin: 0.29vw 0 0 10.59vw;
}

.box14 {
  background-color: rgba(254, 150, 3, 1);
  border-radius: 10px;
  height: 1.25vw;
  width: 4.74vw;
}

.txt14 {
  width: 4.14vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.38vw 0 0 0.23vw;
}

.box15 {
  background-color: rgba(254, 150, 3, 1);
  border-radius: 10px;
  height: 1.25vw;
  width: 4.74vw;
}

.txt15 {
  width: 4.14vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.38vw 0 0 0.26vw;
}

.pic7 {
  width: 1.4vw;
  height: 9.62vw;
  margin-left: -0.2vw;
}

.group15 {
  z-index: 171;
  height: 4.17vw;
  background: url(./img/ps4p9iy8aoclqdrhe5le7nccwquc0lca4or76e8d446-d95a-4bcc-aba3-b98645ece0c2.png)
    100% no-repeat;
  width: 12.62vw;
  position: absolute;
  left: 12.15vw;
  top: 0;
}

.box16 {
  width: 8.9vw;
  height: 1.25vw;
  margin: 2.44vw 0 0 3.39vw;
}

.label1 {
  width: 0.81vw;
  height: 0.6vw;
  margin-top: 0.36vw;
}

.layer23 {
  background-color: rgba(231, 81, 20, 1);
  border-radius: 10px;
  height: 1.25vw;
  margin-left: 0.3vw;
  width: 3.61vw;
}

.word30 {
  width: 2.27vw;
  height: 0.42vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.42vw;
  display: block;
  margin: 0.41vw 0 0 0.68vw;
}

.layer24 {
  background-color: rgba(231, 81, 20, 1);
  border-radius: 10px;
  height: 1.25vw;
  margin-left: 0.6vw;
  width: 3.61vw;
}

.word31 {
  width: 2.24vw;
  height: 0.45vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.41vw;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 0.45vw;
  display: block;
  margin: 0.41vw 0 0 0.74vw;
}

.box17 {
  z-index: 174;
  height: 1.73vw;
  background: url(./img/ps0lg8uxr3g34twddr7lk3kfommlqlbqzzgc1b23fcb-e376-4a69-ad3a-b6014fb3dc8b.png)
    100% no-repeat;
  width: 16.11vw;
  position: absolute;
  left: -2.26vw;
  top: -0.02vw;
}

.txt16 {
  width: 13.1vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(3, 173, 240, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 0.84vw;
  display: block;
  margin: 0.5vw 0 0 1.27vw;
}

.img2 {
  width: 16.11vw;
  height: 2.33vw;
  margin: -1.39vw 0 0 36.63vw;
}

.outer16 {
  z-index: 6;
  height: 6.55vw;
  background: url(./img/ps7a5g5qzbeuucb81qe92fya48180v3zotlce9d09c2-0f39-445c-b22d-01a944f0342e.png)
    100% no-repeat;
  width: 37.95vw;
  position: absolute;
  left: 31.05vw;
  top: 0.54vw;
}

.bd9 {
  width: 16.11vw;
  height: 4.95vw;
  margin: 0.38vw 0 0 11.16vw;
}

.word32 {
  background-image: linear-gradient(
    88deg,
    rgba(0, 114, 255, 1) 0,
    rgba(0, 114, 255, 1) 0,
    rgba(0, 234, 255, 1) 48.852539%,
    rgba(1, 170, 255, 1) 100%,
    rgba(1, 170, 255, 1) 100%
  );
  width: 9.98vw;
  height: 2.36vw;
  overflow-wrap: break-word;
  color: rgba(0, 234, 255, 1);
  font-size: 2.35vw;
  font-family: MicrosoftYaHei-Bold;
  text-align: center;
  white-space: nowrap;
  line-height: 2.36vw;
  margin-left: 2.86vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.img3 {
  width: 16.11vw;
  height: 2.98vw;
  margin-top: -0.38vw;
}

.bd10 {
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 6px;
  z-index: 216;
  height: 19.83vw;
  border: 1px solid rgba(3, 178, 239, 1);
  width: 35.21vw;
  position: absolute;
  left: 1.37vw;
  top: 3.64vw;
}

.bd11 {
  width: 35.24vw;
  height: 20.63vw;
  margin-left: -0.02vw;
}

.img4 {
  width: 1.73vw;
  height: 20.63vw;
}

.pic8 {
  width: 16.11vw;
  height: 1.34vw;
  margin: 18.48vw 0 0 8.09vw;
}

.img5 {
  width: 1.4vw;
  height: 20.63vw;
  margin-left: 7.92vw;
}

.img6 {
  z-index: 228;
  position: absolute;
  left: 37.42vw;
  top: 5.66vw;
  width: 24.92vw;
  height: 10.54vw;
}

.outer17 {
  z-index: 222;
  height: 6.91vw;
  background: url(./img/psgp1l4st9zykf8my9vx87lmyx4osd3jvdf16d98287-e933-4d2f-b377-3d490ed77d6f.png)
    100% no-repeat;
  width: 39.59vw;
  position: absolute;
  left: 30.27vw;
  top: 16.31vw;
}

.pic9 {
  width: 19.2vw;
  height: 3.75vw;
  margin: -0.17vw 0 0 10.17vw;
}

.pic10 {
  z-index: 227;
  position: absolute;
  left: 10.18vw;
  top: 1.46vw;
  width: 19.23vw;
  height: 4.5vw;
}
